$gridunit: 8px;

$color-primary: #4b45c6;
$color-white: #ffffff;
$color-white-opacity: rgba($color-white, .7);
$color-grey: #bababa;
$color-grey-darker: #a3a3a3;
$color-red: #ff2b00;
$color-pink: #e14880;

$color-text: #060606;
$color-background: #f5f5f5;

$font-primary: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;

$font-size-small: 13px;

$base-radius: $gridunit;
